<% provide(:title, "Reset password") %>
<div class="container-fluid py-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= hidden_field_tag :email, @user.email %>
        <fieldset>
          <div class="form-group">
            <%= f.password_field :password,
              id: :password,
              class: "form-control input-lg",
              placeholder: 'Password' %>
          </div>
          <%= f.password_field :password_confirmation,
            id: :password_confirmation,
            class: "form-control input-lg",
            placeholder: 'Password Confirmation' %>
    </div>
    <%= f.submit "Update my password",
      class: "btn btn-lg btn-primary btn-block" %>
        </fieldset>
      <% end %>
  </div>
</div>
