<% provide(:title, @user.name) %>

<div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @user.name %></h5>
      <%= render 'follow_form' if logged_in? %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <% if @user.posts.any? %>
          <span class="badge badge-primary">
            <%= @user.posts.count %>
          </span> Posts
        <% end %>
      </li>
      <li class="list-group-item"><%= render 'shared/stats' %></li>
    </ul>
  </div>

</div>
<div class="col-md-8">
  <% if @user.posts.any? %>
    <ul class="list-group list-group-flush">
      <%= render @posts %>
    </ul>
    <br>
    <%= will_paginate @posts,
      renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
  <% end %>
</div>
