<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %>
</h1>

<section class="stats">
  <%= render 'shared/stats' %>
</section>

<div class="col-md-8">
  <%= render 'follow_form' if logged_in? %>
  <% if @user.posts.any? %>
    <h3>Posts (<%= @user.posts.count %>)</h3>
    <%= will_paginate @posts,
      renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
    <ul class="list-group list-group-flush">
      <%= render @posts %>
    </ul>
  <% end %>
</div>
