<% provide(:title, "Change my password") %>
<div class="container-fluid py-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= form_for(
        resource,
        as: resource_name,
        url: password_path(resource_name),
        html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <fieldset>
          <%= f.hidden_field :reset_password_token %>
          <div class="form-group">
            <%= f.password_field :password,
              id: :password,
              class: "form-control input-lg",
              autofocus: true,
              placeholder: 'New password' %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation,
              id: :password_confirmation,
              class: "form-control input-lg",
              placeholder: 'Confirm new password'
            %>
          </div>
          <%= f.submit "Change my password!",
            class: "btn btn-lg btn-primary btn-block"
          %>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
