<li class="list-group-item">
  <%= link_to post.title, post_path(post) %>

Written at
  <span title="<%= Time.zone.at(post.created_at).in_time_zone("Asia/Ho_Chi_Minh").strftime("%Y-%b-%d %I:%M%p")%>" class="small">
    <%= time_ago_in_words(post.created_at) %> ago
  </span>
<% if @postpage == nil %>
, by <%= link_to post.user.name, user_path(post.user) %>
<% end %>
  <% if logged_in? && current_user.admin? || current_user?(post.user) %>
    <%= link_to "delete", post, method: :delete,
      data: { confirm: "Delete the post?" },
      class: "btn btn-outline-danger btn-sm" %>
  <% end %>
</li>

