<% provide(:title, @post.title) %>
<div class="col-md-8 mx-auto">
  <h4>
    <%= @post.title %>
  </h4>
  <p>Written at
  <span title="<%= Time.zone.at(@post.created_at).in_time_zone("Asia/Ho_Chi_Minh").strftime("%Y-%b-%d %I:%M%p")%>">
    <%= time_ago_in_words(@post.created_at) %> ago
  </span>, by <%= link_to @post.user.name, user_path(@post.user) %></p>
  <%= @post.content.html_safe %>
  <% if logged_in? %>
      <%= render 'shared/comment_form'%>
  <% else %>
    <li class="list-group-item list-group-item-warning">
      <%= link_to "Login to comment!", login_path %>
    </li>
  <% end %>
  <% if @post.comments.any? %>
    <div class="row">
      <div class="col-md-12 m-3">
        <%= pluralize(@post.comments.count, 'comment') unless @post.comments.count == 0 %>
      </div>
      <ul class="list-group col-md-12 pl-3">
          <%= render partial: 'comments/comment', collection: @comments %>
          <%= will_paginate @comments,
            renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer
            %>
      </ul>
    </div>
  <% end %>
</div>
